* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  background-color: hsl(199, 82%, 71%);
  text-align: center;
  padding: 2rem;
}
body {
  background-color: hsl(199, 82%, 78%);
}

div.columns {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(157px, 1fr));
  gap: 10px;
}
div.tasks {
  display: grid;
  gap: 10px;
}
div.full-tasks {
  padding: 10px;
}
div.column {
  /*
  background-color: hsl(199, 81%, 86%);
  background-color: hsl(200, 100%, 70%);
  */
  word-wrap: break-word;
}
.column-header {
  background-color: hsl(199, 81%, 85%);
}

.column-title,
.column-input-bar,
.task-header {
  display: grid;
  grid-template-columns: 11fr 1fr;
}

.column-title {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.column-input-bar {
  padding: 10px;
}
.column-input-bar > input {
  width: 100%;
  box-sizing: border-box;
}
